
@using System.Linq;
@model bar_prototype.Model.ActionItem

@{
 var associatedAction = Model.AssociatedActions.FirstOrDefault();
}

<p class="tabHeader">
    Associated Suspense Deficiency
</p>


<div style="display:none;">
<table>
        <thead>
        <tr>
            <th>Case number</th>
            <th>Fee code</th>
            <th>Fee version</th>
            <th>Fee description</th>
            <th>Fee calculated amount</th>
         </tr>
        </thead>
        <tbody>
        @if (associatedAction != null)
        {
          foreach (var item in associatedAction.Fees) {
            <tr>
                <td>@item.CaseReference</td>
                <td>@item.Code</td>
                <td>@item.Version</td>
                <td>@item.Description</td>
                <td>@item.CalculatedAmount</td>
            </tr>
            }
         }
        </tbody>
</table>
</div>
<p>
    <div>
    <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Payment Method</th>
                <th>Amount</th>
                <th>Status</th>
             </tr>
            </thead>
            <tbody>
            @if (associatedAction != null)
            {
                foreach (var item in associatedAction.PaymentGroup.PaymentInstructions) {
                    <tr>
                        
                        <td>@item.Id</td>
                        <td>@item.PaymentMethod</td>
                        <td>@item.Amount</td>
                       <td>@associatedAction.Status</td>
                    </tr>
                }
            }
            </tbody>
    </table>
    </div>
</p>