@{
    ViewData["Title"] = "Payment Log";
}
@using bar_prototype.Model;
@model List<bar_prototype.Model.ActionItem>

<p>
    @Html.ActionLink("Add New Processed", "CreateProcessed")
    @Html.ActionLink("Add New Replacement Payment", "CreateReplacementPayment")
</p>

<div>
<table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Payment Instruction Id</th>
            <th>Payment Method</th>
            <th>Amount</th>
            <th>Action Type</th>
            <th>Status</th>
            <th></th>
         </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                
                <td><a href='@Url.Action("Details", new { id = item.Id })'>@item.Id</a></td>
                <td>
                    @foreach(var payment in item.PaymentGroup.PaymentInstructions)
                    {
                       <a href='@Url.Action("Details", new { id = item.Id })'>@payment.Id</a> 
                        if(payment.TransferredtoBar && !payment.SuspenseDeficiency)
                        {
                             <a href='@Url.Action("CreateSuspenseDeficiency", new { id = item.Id, paymentId = payment.Id })'>( CreateSuspenseDeficiency )</a> 
                        }
                       <!-- if(payment.SuspenseDeficiency)
                        {
                             <a href='@Url.Action("CreateReplacementPayment", new { id = item.Id, paymentId = payment.Id })'>( CreateReplacementPayment )</a> 
                        }-->
                        <br />
                    }

                </td>
                <td>
                    @foreach(var payment in item.PaymentGroup.PaymentInstructions)
                    {
                        @payment.PaymentMethod <br />
                    }
                </td>
                <td>@item.PaymentGroup.CalculateTotalPayment()</td>
                <td>@item.ActionType</td>
                <td>@item.Status</td>
                <td>
                    @if(item.ActionType == "SuspenseDeficiency" && item.Status == StatusType.TransferredToBar)
                    {
                         <a href='@Url.Action("CreateReplacementPayment", new { id = item.Id })'>CreateReplacementPayment</a> 
                    }
                    else
                    {
                        <a href='@Url.Action("TransferToBar", new { id = item.Id })' >TransferToBar</a>
                    }
                </td>
            </tr>
        }
        </tbody>
</table>
</div>